<% title("Home Page") %>


<div class="container" id="main-title-div">
	<div class="row">
		<h1 id="main-title">Kellogg Web Studio</h1>
	</div>
	<div class="row">
		<div class="col-xs-4">
			<h2 class="text-left" id="sub-title-left">Professional</h2>
		</div>
		<div class="col-xs-4">
			<h2 class="text-center" id="sub-title-center">Digital</h2>
		</div>
		<div class="col-xs-4">
			<h2 class="text-right" id="sub-title-right">Solutions</h2>
		</div>
	</div>
	<div id="about" class="row">
		<blockquote><h3 class="text-center">Hi, my name is Tim.</h3></blockquote>
	</div>


</div>

<div class="container" id="skills-section">
	<h1>Skills</h1>

	<div id="canvas-holder">
			<canvas id="chart-skills" width="300" height="300"/>
		</div>

	<div class="col-xs-3 text-center">
		<h2>Design</h2>

		<p class="label">HTML and CSS</p>
	</div>
	<div class="col-xs-3 text-center">
		<h2>Front End Development</h2>

		<p class="label">JavaScript and jQuery</p>
	</div>
	<div class="col-xs-3">
		<h2 class="text-center">Backend Development</h2>

		<p class="text-center">Ruby on Rails</p>
	</div>

	<div class="col-xs-3">
		<h2 class-:></h2>
	</div>
</div>

<div id="projects-section">
	<h1>Projects</h1>

	<!-- Hermosa Surf -->
	<div class="col-xs-6 text-center">
		<h3>Website 1</h3>
		<img src="#" id="hermosa-site" class="img-responsive img-thumbnail" data-container="body" data-placement="left" data-content="A site built for a housing association">
	</div>


	<!-- RoadTripIt.io -->
	<div class="col-xs-6 text-center">
		<h3>RoadTripIt.io</h3>
		<img src="#" id="roadtripit-site" class="img-responsive img-thumbnail" data-container="body" data-html="true" data-placement="right" data-content="A social networking site for planning, creating, booking and sharing trips! Take a look" <a href="https://www.roadtripit.io></a>" >
	</div>

</div>

<div id="contact-section">
	<h1>Contact Me</h1>
</div>










