<li><%= link_to "Skills", {:action => "home", :controller => "pages", :anchor => "skills-section" } %></li>
<li><%= link_to "Projects", {:action => "home", :controller => "pages", :anchor => "projects-section" } %></li>
<li><%= link_to "Contact", {:action => "home", :controller => "pages", :anchor => "contact-section" } %></li>
